h1, h2, h3,
h4, h5, h6,
p, span, a {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
}

body {
  position: fixed;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  font-size: 62.5%;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;
}

div {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.info {
  margin: 1.5rem auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.info a {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.info span {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .info a, .info span {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    position: relative;
    height: 4000vh;
    overflow: auto;
  }

  div {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 4000vh;
    height: 100vh;
  }

  .info {
    margin: 0 auto;
  }

  .info a, .info span {
    font-size: 20rem;
  }
}